* {
    box-sizing: border-box;
}

body {
}

header {
    margin-bottom: 80px;
    margin-top:80px;
	border-top: 1px solid #FFD1DC;
	border-bottom: 1px solid #FFD1DC;
	width: 50%;
	margin: auto;
	margin-bottom: 80px;
    margin-top:80px;
    font-family:bradhitc;
}

header ul {
    list-style-type: none;
    text-align: center;
}

header li {
    display: inline;
    margin: 20px;
    font-size: 30px;
    
}
header a {
	color: black;
    -webkit-transition: 0.25s;
	text-decoration: none;
}
header a:hover {
    color: #D991A2;
	text-decoration: underline;
}


.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
	width: 50%;
	margin: auto;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    max-width: 600px;
    
	-webkit-transition: 0.5s;
}
.column img:hover {
	-webkit-filter: opacity(70%);
}

@font-face {
    font-family:bradhitc;
    src: url(font/bradhitc.ttf);
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .column, .column, .column, .row {
    width:100%;

  /*Responsive layout - makes a two column-layout instead of four columns 
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}*/

  /*Responsive layout - makes the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}*/