body {
    font-family: "Bradley Hand ITC";
}

*{
    box-sizing: border-box;
    
}
header {
    margin-bottom: 80px;
    margin-top: 80px;
    
}
header ul {
    list-style-type: none;
    text-align: center;
}
header li {
    display: inline;
    margin: 20px;
}
header a {
    text-decoration: none;
    color: black;
    font-family: "Bradley Hand ITC";
    font-weight: bolder;
    font-size: 30px;
	transition: 0.5s;
}
header a:hover {
    color:hotpink;
    text-decoration-line: underline;
}
section {
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;   
    
}

.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;    
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

@media screen and (max-width: 600px) {
.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
}
    
    