body {
    font-family:"Bradley Hand ITC";
}
header {
    margin-bottom:80px;
    margin-top:80px;
}
header ul {
    list-style-type:none;
    text-align:center;
}
header li {
    display:inline;
    margin:20px;
}
header a {
    text-decoration:none;
    color:black;
    font-family: "Bradley Hand ITC";
    font-weight: bolder;
    font-size:30px;
	transition: 0.5s;
}
header a:hover {
    color:hotpink;
    text-decoration-line:underline;
}
section {
    
}
