* {
    box-sizing: border-box;
}

body {
    font-family:neuzeit;
    color:darkslategray;
}

header {
    margin-bottom: 80px;
    margin-top:80px;
	border-top: 1px solid #FFD1DC;
	border-bottom: 1px solid #FFD1DC;
	width: 50%;
	margin: auto;
	margin-bottom: 80px;
    margin-top:80px;
    font-family:bradhitc;
}

header ul {
    list-style-type: none;
    text-align: center;
}

header li {
    display: inline;
    margin: 20px;
    font-size: 30px;
}
header a {
	color: black;
    -webkit-transition: 0.25s;
	text-decoration: none;
}
header a:hover {
    color: #D991A2;
	text-decoration: underline;
}

section{
    text-align:center;
    
}

@font-face {
    font-family:neuzeit;
    src: url(font/Neuzeit-Grotesk-W01-Regular.otf);
}

@font-face {
    font-family:bradhitc;
    src: url(font/bradhitc.ttf);
}